**List**

In [ ]:
my_list = [6,7,1, 2, 3, 4, 5] #creating a list

**list methods**
**sort()**

In [ ]:
my_list.sort() #sorts list in ascending order
my_list

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
my_list.sort(reverse=True)
my_list

[7, 6, 5, 4, 3, 2, 1]

**reverse()**

In [ ]:
my_list.reverse() # reverses the order of original list
my_list

[1, 2, 3, 4, 5, 6, 7]

**index()**  indexing in list starts from 0 we can also perform slicing in list

In [ ]:
print(my_list.index(5) )# gives index of the first occurence of the value 5 in list

4

**count()**

In [ ]:
my_list.append(1)
my_list

[1, 2, 3, 4, 5, 6, 7, 1]

In [ ]:
my_list.count(1) # counts the number of times a value comes in list

2

**copy()** it is used to create a copy of the list so that original remains intact .
This is done because if we use like m=my_list
and we perform certain functions on m my_list also undergoes those changes

In [ ]:
m=my_list
m[0]=0
my_list # my_list also undergoes modifications done on m

[0, 2, 3, 4, 5, 6, 7, 1]

In [ ]:
n=my_list.copy()
n[0]=11
n

[11, 2, 3, 4, 5, 6, 7, 1]

In [ ]:
my_list

[0, 2, 3, 4, 5, 6, 7, 1]

**append()** it adds item at the end of list

In [ ]:
my_list.append("append") #item addes at the end of list
my_list

[0, 2, 3, 4, 5, 6, 7, 1, 'append']

In [ ]:
my_list.append("append") #if you run again item adds at the end of list again
my_list

[0, 2, 3, 4, 5, 6, 7, 1, 'append', 'append']

**insert()** it used to add items at paticular position in list
syntax list.insert(index,value)

In [ ]:
my_list.insert(2,"position 2")# adds item to index 2
my_list

[0, 2, 'position 2', 3, 4, 5, 6, 7, 1, 'append', 'append']

In [ ]:
my_list.insert(2,"position 2")# #if you run again item adds at index 2
my_list

[0, 2, 'position 2', 'position 2', 3, 4, 5, 6, 7, 1, 'append', 'append']

**extend()**the extend() method is used to add elements from an iterable (such as a list, tuple, or any other iterable) to the end of an existing list.
syntax list1.extend(list2) - This adds all item of list2 to the end of list1

In [ ]:
list1=['original','list']
list2=['I am',"new","here!"]
list1.extend(list2)# adds list2 at the end of list1
list1

['original', 'list', 'I am', 'new', 'here!']

In [ ]:
list2 # this does not change

['I am', 'new', 'here!']

Other method of concatenating two list is using '+' operator suppose you do not want to change existing list so you can use this

In [ ]:
k=list1+ list2
k

['original', 'list', 'I am', 'new', 'here!', 'I am', 'new', 'here!']

In [ ]:
list1

['original', 'list', 'I am', 'new', 'here!']

In [ ]:
list2

['I am', 'new', 'here!']

**pop()** this removes an item from a particular position in list

In [ ]:
a=[0,1,2,3,4]
a.pop(2)# pop values from index 2
a

[0, 1, 3, 4]