**NumPy**, short for Numerical Python, is a powerful library in Python used for numerical computing.
It provides support for large, multi-dimensional arrays and matrices, along with a collection of mathematical functions to operate on these arrays.
We can install numpy in python using:

pip install numpy


The primary data structure in NumPy is the ndarray (n-dimensional array).
Also numpy has a built in data type matrix .
Vector and scaler are just assumed for easy understanding

![image.png]()

In [2]:
import numpy as np # giving alias np to module numpy
a=np.array([1,2,3,4])# creating an array
print(a)
print(type(a))# tells us a is an array
print(a.ndim)# gives dimentions of an array (row,column,block)
b=np.array([[1,2,3,4,5]])
print(b)
print(b.T)# converts row vector to column vector

[1 2 3 4]
<class 'numpy.ndarray'>
1
[[1 2 3 4 5]]
[[1]
 [2]
 [3]
 [4]
 [5]]

In [7]:
# Difeerence from list
a=[1,2,3,4,5,6]
b=[1,2,3,4]
#  if we use+ operator both list concats
print(a+b,'List a+b')
# suppose we had to add each index with corresponding index we cannot do it with a list directly we'd have to use loops
#  we cannot do a-b,a/b ,etc using list
a1=np.array([1,2,3,4,5])
b1=np.array([1,2,3,4,5])
print(a1+b1,'array a1+b1')
print(a1-b1,'array a1-b1')
print(a1/b1,"array a1/b1")

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4] List a+b
[ 2  4  6  8 10] array a1+b1
[0 0 0 0 0] array a1-b1
[1. 1. 1. 1. 1.] array a1/b1

In [22]:
#  can do complex problems using array
# area of circle using array
r=np.array([1,2,3,4,5])
import math
area=list(3.14*(r**2))
print(area)

[3.14, 12.56, 28.26, 50.24, 78.5]

**Matrix**

(Rows,Columns)

In [11]:
c=np.matrix([[1,2,3,4],
             [1,1,1,1]])
print(type(c))
print(c)
print(c.ndim)

<class 'numpy.matrix'>
[[1 2 3 4]
 [1 1 1 1]]
2

In [12]:
d=np.array([[1,2,3,4],
            [1,1,1,1]])
print(type(d))
print(d)
print(d.ndim)

<class 'numpy.ndarray'>
[[1 2 3 4]
 [1 1 1 1]]
2

array.shape - Functions tells us about the number of rows and columns and blocks in an array or matrix

In [ ]:
print(c)
print(c.shape)
print(type(c))

[[1 2 3 4]
 [1 1 1 1]]
(2, 4)
<class 'numpy.matrix'>

In [ ]:
print(d)
print(d.shape)# (Rows,Columns)
print(type(d))

[[1 2 3 4]
 [1 1 1 1]]
(2, 4)
<class 'numpy.ndarray'>

In [20]:
# how to make 2-D array
arr2=np.array([[1,2,3,4],
               [1,2,3,4]])# one dimention in one square brackets and 2 dimention in two square brackets
print(arr2)
print(arr2.ndim)

[[1 2 3 4]
 [1 2 3 4]]
2

In [21]:
arr3d=np.arrayarr3d = np.array([[[1, 2, 3, 4, 5],
                                 [1, 2, 3, 4, 5],
                                  [1,2,3,4,5]],

                                 [[1, 2, 3, 4, 5],
                                  [1, 2, 3, 4, 5],
                                   [1, 2, 3, 4, 5]]])
print(arr3d)
print(arr3d.shape)#blocks,rows,columns
print(arr3d.ndim)
print(arr3d.size)# gives total number of values

[[[1 2 3 4 5]
  [1 2 3 4 5]
  [1 2 3 4 5]]

 [[1 2 3 4 5]
  [1 2 3 4 5]
  [1 2 3 4 5]]]
(2, 3, 5)
3
30

len()

For 1 -D - gives total number of elements

For 2 -D - gives total number of rows

For 3 -D - gives total number of blocks

In [23]:
arr1=np.array([1,2,3,4,5])
print(len(arr1),arr1.shape)
print(len(arr2),arr2.shape)
print(len(arr3),arr3.shape)

5 (5,)
2 (2, 4)
4 (4, 4, 4)

In [ ]:
# np.zeros(dimentions) creates an array filled with zero
b=np.zeros((3,3))
b

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [ ]:
# np.ones creates array filled with one
o=np.ones((3,4))
print(o)
oi=np.ones((3,4), dtype=int)
print(oi)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]
[[1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]]

In [ ]:
#  np.full creates an array filled with the value we provide
f=np.full((3,3),15)
print(f)
f3=np.full((3,3,4),200)
print(f3)

[[15 15 15]
 [15 15 15]
 [15 15 15]]
[[[200 200 200 200]
  [200 200 200 200]
  [200 200 200 200]]

 [[200 200 200 200]
  [200 200 200 200]
  [200 200 200 200]]

 [[200 200 200 200]
  [200 200 200 200]
  [200 200 200 200]]]

In [ ]:
# np.arange(start,end,step) can also be used to fill an array just like using range funtion to fill values
# in a particular range
a=np.arange(10)
print(a)
b=np.arange(10,21,2)
print(b)

[0 1 2 3 4 5 6 7 8 9]
[10 12 14 16 18 20]


Certainly! You can use np.arange() to create a 3-dimensional array. Here's how you can do it:



np.arange(value) creates a 1-dimensional array with values from 0 to value.
.reshape((dimentions)) reshapes the 1-dimensional array into a 3-dimensional array with dimensions .

In [19]:
arr3=np.arange(64).reshape(4,4,4)
print(arr3)
print(len(arr3)) # tells us about the number of blocks

[[[ 0  1  2  3]
  [ 4  5  6  7]
  [ 8  9 10 11]
  [12 13 14 15]]

 [[16 17 18 19]
  [20 21 22 23]
  [24 25 26 27]
  [28 29 30 31]]

 [[32 33 34 35]
  [36 37 38 39]
  [40 41 42 43]
  [44 45 46 47]]

 [[48 49 50 51]
  [52 53 54 55]
  [56 57 58 59]
  [60 61 62 63]]]
4

**np.linspace()** is a function in NumPy that generates an array of evenly spaced numbers over a specified interval. The syntax for np.linspace() is as follows:


np.linspace(start, stop, num=50, endpoint=True, retstep=False, dtype=None)
Where:

start: The starting value of the sequence.
stop: The end value of the sequence.
num: The number of samples to generate. Default is 50.
endpoint: If True (default), stop is the last sample. Otherwise, it is not included.
retstep: If True, return (samples, step), where step is the spacing between samples.
dtype: The data type of the output array.
The function returns an array of num evenly spaced samples, calculated over the closed interval [start, stop] or [start, stop] if endpoint is set to False.

In [18]:
x=np.linspace(1,10,9).reshape(3,3)
print(x)

[[ 1.     2.125  3.25 ]
 [ 4.375  5.5    6.625]
 [ 7.75   8.875 10.   ]]

In [ ]:
# Generating an array of 10 samples from 1 to 10, including the endpoint, and returning the step
array, step = np.linspace(1, 10, num=10, endpoint=True, retstep=True, dtype=float)

print("Generated array:", array)
print("Step:", step)

Generated array: [ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]
Step: 1.0

In [ ]:
#  creating a 3d array using arange and linspace
ar=np.array([[np.arange(16).reshape(4,4)],
                  [np.linspace(0,20,16,dtype=int).reshape(4,4)]])
print(ar)

[[[[ 0  1  2  3]
   [ 4  5  6  7]
   [ 8  9 10 11]
   [12 13 14 15]]]


 [[[ 0  1  2  4]
   [ 5  6  8  9]
   [10 12 13 14]
   [16 17 18 20]]]]

**Indexing , Slicing , Replacing , Boolean indexing in arrays**

In [26]:
#  For 1-D array similar to list
one_d=np.array([23,45,67,2,34,56])
# get element 67
print("at index 2: ",one_d[2])
# slice from 2nd to 5th index
print("from 2 to 5 index: ",one_d[2:6])
# replace 45 with 54
print(one_d,'original')
one_d[1]=54
print(one_d,'replace 45 with 54')

at index 2:  67
from 2 to 5 index:  [67  2 34 56]
[23 45 67  2 34 56] original
[23 54 67  2 34 56] replace 45 with 54

In [28]:
# boolean indexing checks a condition  and gives boolean value
print(one_d)
print(one_d>45)# checks condition values >45 return true
# if we want to return values and not boolean
print(one_d[one_d>45])

[23 54 67  2 34 56]
[False  True  True False False  True]
[54 67 56]

For 2-D

In [35]:
two_d=np.array(np.arange(9).reshape(3,3))
print(two_d)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [36]:
# two_d index= row,column
# print value 5 from 2-d
print(two_d[1,2])

5

In [37]:
# get 1st row
print(two_d[0])

[0 1 2]

In [38]:
# slice values 1,2,4,5 from top right corner of ,matrix
print(two_d[0:2,1:3])

[[1 2]
 [4 5]]

In [40]:
print(two_d[1:3,0:2])

[[3 4]
 [6 7]]

In [42]:
print(two_d)
print(two_d[two_d>5])

[[0 1 2]
 [3 4 5]
 [6 7 8]]
[6 7 8]

For 3-D array

In [45]:
three_d=np.array([np.arange(9,18).reshape(3,3),
                  np.linspace(10,1000,9,dtype=int).reshape(3,3),
                  np.arange(18,27).reshape(3,3)])
print(three_d)

[[[   9   10   11]
  [  12   13   14]
  [  15   16   17]]

 [[  10  133  257]
  [ 381  505  628]
  [ 752  876 1000]]

 [[  18   19   20]
  [  21   22   23]
  [  24   25   26]]]

In [47]:
# for 3d index= blocks,rows,columns
# print 505,628,876,1000
print(three_d[1,1:,1:])

[[ 505  628]
 [ 876 1000]]

In [48]:
#  print 21 from 3rd block
print(three_d[2,1,0])

21

In [50]:
print(three_d>100)
print(three_d)

[[[False False False]
  [False False False]
  [False False False]]

 [[False  True  True]
  [ True  True  True]
  [ True  True  True]]

 [[False False False]
  [False False False]
  [False False False]]]
[[[   9   10   11]
  [  12   13   14]
  [  15   16   17]]

 [[  10  133  257]
  [ 381  505  628]
  [ 752  876 1000]]

 [[  18   19   20]
  [  21   22   23]
  [  24   25   26]]]

In [52]:
print(three_d,'\n',three_d[three_d>100])

[[[   9   10   11]
  [  12   13   14]
  [  15   16   17]]

 [[  10  133  257]
  [ 381  505  628]
  [ 752  876 1000]]

 [[  18   19   20]
  [  21   22   23]
  [  24   25   26]]]
 [ 133  257  381  505  628  752  876 1000]

WAP  to make a checkerboard array filled with 0 and 1

In [59]:
board=np.zeros((5,5),dtype=int)

board[::2,::2]=1
board[1::2,1::2]=1
print(board)

[[1 0 1 0 1]
 [0 1 0 1 0]
 [1 0 1 0 1]
 [0 1 0 1 0]
 [1 0 1 0 1]]