In [9]:
s='meenal'
ss="singh"# anything between quotes is considered a string
print(s,ss,type(s),type(ss))

meenal singh <class 'str'> <class 'str'>

In [10]:
#  multiple line string is formed between triple quotes
a="""hi!
I'm multiple
line
string"""
print(a)

hi!
I'm multiple
line
string

In [14]:
#  to escape quotes within a string either use escape character \ or use different quotes within string
a="Hi I used \\ \" character to have a quote in string"
b= "Hi I used ' single quote inside and double quotes to form a string"
print(a)
print(b)

Hi I used \ " character to have a quote in string
Hi I used ' single quote inside and double quotes to form a string

In [15]:
#  accessing characters of a string string uses index for each char
a="HI ABC"
for char in a:
  print(char)

H
I

A
B
C

In [16]:
a="HI ABC"
print(a[3])# prints index 3 of string a

A

In [17]:
for i in range(len(a)):
  print(a[i])

H
I

A
B
C

**Slicing**

string is basically an array i.e a sequence of characters

In [24]:
n="TOM,JERRY"
print(len(n))# gives length of the string
print(n[0:3])
print(n[4:])

9
TOM
JERRY

In [23]:
print(n[-1::-1])

YRREJ,MOT

In [38]:
n[-1::-2]

'YRJMT'

In [50]:
s="meenal singh"
d=s.split()
print(d)
print(" ".join(d))

['meenal', 'singh']
meenal singh

strings are immutable .
you can change a string but not in place
i.e old string cannot be changed but when you  can store string in another variable after changes

In [65]:
# upper() converts a string to upper case
s="hi i am meenal"
print(s.upper(),'--new string')# changes string to upper
print(s,'--original')# priginal styring does not change

HI I AM MEENAL --new string
hi i am meenal --original

In [63]:
#  lower() converts string to lowercase
l='HI I AM UPPERCASE'
n=l.lower()# can store changed string to other variable
print(n,'--LOWER CASE')
print(l,'--original')

hi i am uppercase --LOWER CASE
HI I AM UPPERCASE --original

In [64]:
c='capital'
print(c.capitalize(),'--first letter now capital')# capitalizes first letter
print(c,'--original')

Capital --first letter now capital
capital --original

rstrip() removes tailing characters or spaces

In [59]:
st='!!!!! hi !!!!!!!'
print(st.rstrip("!"))# removes ! at ends

!!!!! hi

lstrip() removes leading characters

In [60]:
print(st.lstrip("!"))# removes ! at begining

 hi !!!!!!!

replace() removes a particular string with another string
string. replace(old, new[, count]) .

In [67]:
s="hi hi hi my name is meenal"
print(s.replace("hi","hello"))# replaces all hi occurences
print(s.replace("hi","hello",1))# replaces only 1 hi occurence

hello hello hello my name is meenal
hello hi hi my name is meenal

In [74]:
len(s)

26

In [79]:
#moves the string to center as per requirements of user center(length required,"string to be added at ends ")
print(s.center(60,'.'))
len(s.center(60,"."))

.................hi hi hi my name is meenal.................

60

count() returns the number of times a given value has occured in a string

In [81]:
s="AAA AAA BBBB BBBB"
print(s.count("A"),'times A has occured')
print(s.count("B"),'times B has occured')

6 times A has occured
8 times B has occured

startswith() - checks if string starts with a particular character

In [112]:
s="starts with starts"
print(s.startswith("s"),s)
print(s.startswith("starts"),s)
print(s.startswith("z"),s)

True starts with starts
True starts with starts
False starts with starts

endswith() checks if a given string ends with a particular value
returns boolean
syntax: string.endswith(value, start, end)

In [89]:
e='i end with e'
print(e.endswith('with',6,10))# checks if a given string ends with 'with'
print(e.endswith('e'))
print(e.endswith('z'))
print(e.endswith('h'))

True
True
False
False

find() function is used to return the lowest index value of the first occurrence of the substring from the input string; else it returns -1.

In [86]:
f='hi i am here can you find me'
print(f.find("i"))# returns index of first occurence of i
print(f.find("z"))# as z is not present it returns -1

1
-1

index() provides you an option to give it hints to where the value searched for might lie. So the syntax is: list_name.index(element, start, stop). Here the start and stop values are optional. In fact, only use it when entirely sure about the range else you will get a ValueError

In [95]:
i='index me please'
print(i.index("me"))
print(i.find("me"))# both index and find give index value
print(i.index("me",5,9))
print(i.index("please"))

6
6
6
9

isalnum() checks if string is alphanumeric meaning it has A-Z,a-z,0-9 characters only(no special character or spaces or puntuation)

In [99]:
a='isalphaNUMERIC12465'
b='is NOT @lphanumeric!!!!@#$'
print(a.isalnum(),a)
print(b.isalnum(),b)

True isalphaNUMERIC12465
False is NOT @lphanumeric!!!!@#$

isalpha() returns true only if A-Z ,a-z is present (no puntuation numbers special characters or puntuation)

In [98]:
al="iamalpha"
al1='i am not alpha 1 2'
print(al.isalpha(),al)
print(al1.isalpha(),al1)

True iamalpha
False i am not alpha 1 2

islower() checks if string is in lower case

In [108]:
l="i am lower"
print(l.islower(),l)

True i am lower

isupper() checks if all characters are capital

In [109]:
u='I AM UPPER'
print(u.isupper(),u)

True I AM UPPER

isprintable() checks if all characters are printable

In [103]:
s='    '
print(s.isprintable())
a="print\n"# new line not printable
print(a.isprintable())

True
False

isspace() - returns true if  only spaces are present in string

In [106]:
d="i have spaces"
d1="    "
print(d.isspace(),d)
print(d1.isspace(),d1)

False i have spaces
True

istitle() returns true if first letter of each word in string is capital

In [107]:
t='This Is Title'
t1="This is not a title"
print(t.istitle(),t)
print(t1.istitle(),t1)

True This Is Title
False This is not a title

swapcase() swaps lower case characters with upper and vice versa

In [115]:
s="SWAP swap UPPEr loweR"
print(s.swapcase(),"\n",s,"Original")

swap SWAP uppeR LOWEr
 SWAP swap UPPEr loweR Original

title() - converst all first letters to uppercase

In [117]:
ti="this is title can you see?"
print(ti.title(),"\n",ti,"original")

This Is Title Can You See?
 this is title can you see? original