In [1]:
# creating a tuple
t=(9,8,8)
print(type(t),t)

<class 'tuple'> (9, 8, 8)

In [5]:
# one element tuple
o=(1)
print(type(o),o)# will give type as int instead of tuple

<class 'int'> 1

In [6]:
one_element=(1,)# always add a comma in case of one element so that python interpreter doesnt get confused
print(type(one_element),one_element)

<class 'tuple'> (1,)

In [7]:
#  tuple are immutable will create a type error if we try to change a value
t[0]=1

TypeError: 'tuple' object does not support item assignment

**indexing in tuple **
It is same as list

In [8]:
tup=(0,1,2,3,4,5,6,7)
tup

(0, 1, 2, 3, 4, 5, 6, 7)

In [9]:
print(tup[0:4]) # slicing of tuple from 0 index till 3rd index last 4 is not included

(0, 1, 2, 3)

In [11]:
tup[:5:2] # from 0 index to 5th index (not included) every 2nd item

(0, 2, 4)

In [12]:
tup[1:6:3]# from 1 index to 6th index (not included) every 3rd item

(1, 4)

In [16]:
tup[-1::2] # negative indexing interpreter reads from last item and prints every 2nd item

(7,)

If we want to change tuple  we  can never directly do that we first have to create a list containing tuple elements and then make changes to list then converting it back to tuple

In [28]:
country=("India","USA","Singapore","China","Australia")
l=[]# creating a list to add values from tuple
for i in country:
  l.append(i)

print(l,type(l))

['India', 'USA', 'Singapore', 'China', 'Australia'] <class 'list'>

In [32]:
l.append("new")# making changes to list
l.pop(0)
tnew=tuple(l)#converting updated list to tuple
print(tnew,type(tnew))

('USA', 'Singapore', 'China', 'Australia', 'new') <class 'tuple'>

In [35]:
tupl=(1,2,3,4,5,6,7,7,7,7,7)
tupl.count(7)# counting no. of times value 7 is present

5

In [36]:
tupl.index(5)# gives the first opcuurence index of value

4

In [37]:
tupl.index(7)#gives the first opcuurence index of value

6

In [41]:
tupl.index(7,3,10) # this slices tuple from 3rd index to 9th index and then checks the occurence of 7 value in the sliced part
# tuple.index(element, start, end) this is the syntax

6

In [42]:
len(tupl)# len functions give the number of elements in a tuple or list

11

In [43]:
l=[1,2,3]
len(l)

3